# Phase Transition data
*.txt
*.mat

# Figures
*.pdf
*.eps
*.jpg

# Other
*.swp
.dropbox
.dropbox.attr
*.mex
*.mexglx
*.mexw32
*.mexa64
*.log
*.tar.gz
*.tar
*.zip
.nfs*

# Thrust
GAGA/thrust/*

# Debug folder for CUDA-GDB compilation
GAGA/gaga/debug/smv_debug
GAGA/RobustL0code/phase_transitions/plots/transition_all_smv_n_*
